<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class=" not found contents">
        <h2>Page not Found </h2>
        <p>The page you are trying to load is not avilable</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
