<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about contents">
        <h2>About Page</h2>
        <p>Its an about us in which i will tell you about my site </p>
        <p> So stay tuned i will get back to you </p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
